In [8]:
#DATAFRAME BASICS
import pandas as pd
df = pd.read_csv('HollywoodMovies.csv')

In [9]:
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [10]:
df.shape

(970, 16)

rows , colomns = df.shape

In [17]:
df.head()

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.5,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.7,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007

In [18]:
df.tail()

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [19]:
df.columns

Index(['Movie', 'LeadStudio', 'RottenTomatoes', 'AudienceScore', 'Story',
       'Genre', 'TheatersOpenWeek', 'OpeningWeekend', 'BOAvgOpenWeekend',
       'DomesticGross', 'ForeignGross', 'WorldGross', 'Budget',
       'Profitability', 'OpenProfit', 'Year'],
      dtype='object')

In [20]:
df.Movie #df['Movie']

0                                   Spider-Man 3
1                                Shrek the Third
2                                   Transformers
3       Pirates of the Caribbean: At World's End
4      Harry Potter and the Order of the Phoenix
                         ...
965                                  The Canyons
966                                     The Call
967                          The English Teacher
968                         John Dies at the End
969                                     Lovelace
Name: Movie, Length: 970, dtype: object

In [22]:
df[['Movie','Story','Year']]

                                         Movie          Story  Year
0                                 Spider-Man 3  Metamorphosis  2007
1                              Shrek the Third          Quest  2007
2                                 Transformers  Monster Force  2007
3     Pirates of the Caribbean: At World's End         Rescue  2007
4    Harry Potter and the Order of the Phoenix          Quest  2007
..                                         ...            ...   ...
965                                The Canyons            NaN  2013
966                                   The Call            NaN  2013
967                        The English Teacher            NaN  2013
968                       John Dies at the End            NaN  2013
969                                   Lovelace            NaN  2013

[970 rows x 3 columns]

In [26]:
df.describe

<bound method NDFrame.describe of                                          Movie              LeadStudio  \
0                                 Spider-Man 3                    Sony
1                              Shrek the Third               Paramount
2                                 Transformers               Paramount
3     Pirates of the Caribbean: At World's End                  Disney
4    Harry Potter and the Order of the Phoenix             Warner Bros
..                                         ...                     ...
965                                The Canyons                     IFC
966                                   The Call                 TriStar
967                        The English Teacher  Cinedigm Entertainment
968                       John Dies at the End                Magnolia
969                                   Lovelace              Radius-TWC

     RottenTomatoes  AudienceScore          Story      Genre  \
0              61.0           54.0  Metamorphosis     Action
1              42.0           57.0          Quest  Animation
2              57.0           89.0  Monster Force     Action
3              45.0           74.0         Rescue     Action
4              78.0           82.0          Quest  Adventure
..              ...            ...            ...        ...
965            22.0            NaN            NaN        NaN
966            43.0           66.0            NaN        NaN
967            42.0            NaN            NaN        NaN
968            61.0           53.0            NaN        NaN
969            55.0           37.0            NaN  Biography

     TheatersOpenWeek  OpeningWeekend  BOAvgOpenWeekend  DomesticGross  \
0              4252.0          151.10           35540.0         336.53
1              4122.0          121.60           29507.0         322.72
2              4011.0           70.50           17577.0         319.25
3              4362.0          114.70           26302.0         309.42
4              4285.0           77.10           17998.0         292.00
..                ...             ...               ...            ...
965               1.0            0.01           13351.0           0.06
966            2507.0           17.12            6828.0          51.87
967               2.0            0.01            3001.0           0.10
968               1.0            0.01           12467.0           0.14
969             118.0            0.18            1564.0           0.36

     ForeignGross  WorldGross  Budget  Profitability  OpenProfit  Year
0          554.34      890.87   258.0         345.30       58.57  2007
1          476.24      798.96   160.0         499.35       76.00  2007
2          390.46      709.71   150.0         473.14       47.00  2007
3          654.00      963.42   300.0         321.14       38.23  2007
4          647.88      939.89   150.0         626.59       51.40  2007
..            ...         ...     ...            ...         ...   ...
965          0.14        0.19     NaN          77.21         NaN  2013
966         16.70       68.57    13.0         527.48      131.69  2013
967          0.06        0.10     NaN            NaN         NaN  2013
968           NaN        0.14     1.0          14.20        1.00  2013
969          1.17        1.52    10.0          15.25        1.80  2013

[970 rows x 16 columns]>

In [27]:
df[df.Year==2013] #conditionnal select

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
810,About Time,Universal,69.0,83.0,NaN,NaN,1280.0,1.08,841.0,15.32,71.78,87.10,NaN,NaN,NaN,2013
811,The Fifth Estate,Buena Vista,37.0,40.0,NaN,NaN,1769.0,1.67,946.0,3.26,5.30,8.56,28.0,30.55,5.96,2013
812,Parker,FilmDistrict,41.0,49.0,NaN,NaN,2238.0,7.01,3131.0,17.62,28.60,46.22,35.0,132.05,20.03,2013
813,The To-Do List,CBS,52.0,48.0,NaN,NaN,591.0,1.58,2672.0,3.49,0.07,3.57,1.5,237.75,105.33,2013
814,Grown Ups 2,Sony,7.0,55.0,NaN,NaN,3491.0,41.51,11890.0,133.67,113.32,246.98,80.0,308.73,51.89,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [28]:
df.index

RangeIndex(start=0, stop=970, step=1)

In [29]:
df.set_index('Movie')

,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
Movie,,,,,,,,,,,,,,,
Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [30]:
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [ ]:
# df.set_index('Movie',inplace='True')  modifie the original index

In [33]:
#diffrent ways of creating dataframe
#
#
#
#df = pd.read_csv('HollywoodMovies.csv') # from csv

#df = pd.read_excel('HollywoodMovies.xlsx','Sheet1') #from excel

#from dictionnary
weather_data = {
    'day':['1/1/2017','1/1/2018','1/3/2017'],
    'temperature':[32,35,25],
    'event':['rain','sunny','snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  event
0  1/1/2017           32   rain
1  1/1/2018           35  sunny
2  1/3/2017           25   snow

In [35]:

#from tuple
weather_data = [
    ('1/1/2017',12,'rain'),
    ('1/1/2017',30,'sunny'),
    ('1/1/2017',5,'snow')
]
df = pd.DataFrame(weather_data,columns=['day','temperature','event'])
df

        day  temperature  event
0  1/1/2017           12   rain
1  1/1/2017           30  sunny
2  1/1/2017            5   snow

In [36]:
#from list of dictionnary
weather_data = [
    {'day':'1/1/2017','temperature':12,'event':'rain'},
    {'day':'1/1/2018','temperature':25,'event':'sunny'},
    {'day':'1/3/2017','temperature':-5,'event':'snow'},
]
df = pd.DataFrame(weather_data)
df

        day  temperature  event
0  1/1/2017           12   rain
1  1/1/2018           25  sunny
2  1/3/2017           -5   snow

In [ ]:
#there are other ways  type  search for pandas io tools for more docummentation